.container{
    background: #2B2D42;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container_inner{
    background: #3D5AFE;
    width: 70%;
    height: 80%;
}
.image_contaner{
    width: 50%;
    background-color: #081665;
    height: -webkit-fill-available;
}
.image_contaner_inner{
    object-fit: contain; /* maintain aspect ratio of the image while fitting it within the child element */
}