.container{
    background: #2B2D42;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container_inner{
    background: #3D5AFE;
    width: 70%;
    height: 80%;
}