@import '../../styles/variables';

.container{
    :global(.ant-layout-header){
        background-color: $secondary__color;
        padding-inline: 16px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        :last-child{
            height: 40px;
            cursor: pointer;
            img{
                width: 40px;
                height: 40px;
                object-fit: cover;
                border-radius: 50%;
            }
        }
    }
}
.header{
    color: $white__color;
    h1{
        margin-left: 10px;
    }
}
.menu{
    background-color: $secondary__color;
    :global(.ant-menu-item-selected){
        background-color: $primary__color;
        color: $white__color;
        font-weight: bold;
    }
    li{
        color: $white__color;
        font-weight: bold;
    }
}