@import '../../styles/variables';

.container{
    background: $secondary__color;
    height: calc(100vh - 64px);
}
.imageContainer{
    position: fixed;
    bottom: -10px;
    right: 0;
    img {
        width: 500px;
    }
}

.cardContainer{
  display: flex;
  margin-left: 48px;
  gap: 25px;
  margin-top: 24px;
}

.subTitle{
  margin-left: 48px;
  font-size: 16px;
  color: $white__color;
  padding-top: 36px;
}
.lastContainer{
  margin-top: 24px;
  margin-left: 48px;
}

.title{
    font-size: 24px;
    font-weight: bold;
    color: $white__color;
    margin-left: 48px;
    position: absolute;
    top: 20px;
    img{
        width: 32px;
        margin-left: 12px;
    }
}

@keyframes wave {
    0% {
      transform: rotate(0deg);
    }
    25% {
      transform: rotate(10deg);
    }
    50% {
      transform: rotate(0deg);
    }
    75% {
      transform: rotate(-10deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }

  
  .wave {
    animation-name: wave;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  
  @media (max-width: 767px) {
    .container{
      height: auto;
      padding-bottom: 16px;
    }
    .title{
      font-size: 16px;
      font-weight: bold;
      color: $white__color;
      margin-left: 16px;
      padding-top: 16px;
      position: static;
      img{
          width: 20px;
          margin-left: 12px;
      }
  }
  .cardContainer{
      margin-left: 16px;
      margin-right: 16px;
      flex-direction: column;
  }
  .imageContainer{
    display: none;
  }
  .lastContainer{
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 16px;
  }
  .subTitle{
    margin-top: 24px;
    margin-left: 16px;
    padding-top: 0px;
  }
}